<<<<<<< HEAD
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Montserrat', sans-serif;
  background:#f8f3ef;
  color:#333;
}

/* HERO */

.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1511285560929-80b456fea0bc?q=80&w=1974&auto=format&fit=crop') center/cover;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.35);
}

.contenido{
  position:relative;
  z-index:2;
  color:white;
  padding:20px;
}

.subtitulo{
  letter-spacing:8px;
  margin-bottom:20px;
}

h1{
  font-family:'Cormorant Garamond', serif;
  font-size:6rem;
  font-weight:300;
}

h1 span{
  color:#d4af37;
}

.fecha{
  margin-top:20px;
  font-size:1.2rem;
  letter-spacing:4px;
}

#countdown{
  margin-top:30px;
  font-size:1.5rem;
}

.btn{
  display:inline-block;
  margin-top:40px;
  padding:15px 40px;
  border:1px solid white;
  color:white;
  text-decoration:none;
  transition:.3s;
}

.btn:hover{
  background:white;
  color:black;
}

/* EVENTO */

.evento{
  padding:120px 20px;
  text-align:center;
  background:white;
}

.evento h2{
  font-family:'Cormorant Garamond', serif;
  font-size:4rem;
  margin-bottom:30px;
}

.texto{
  max-width:700px;
  margin:auto;
  line-height:2;
}

.card{
  margin-top:60px;
}

.card h3{
  font-size:2rem;
  margin-bottom:20px;
}

.ubicacion{
  display:inline-block;
  margin-top:50px;
  padding:15px 35px;
  border:1px solid black;
  color:black;
  text-decoration:none;
}

/* GALERÍA */

.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:10px;
}

.galeria img{
  width:100%;
  height:400px;
  object-fit:cover;
}

/* MOBILE */

@media(max-width:768px){

  h1{
    font-size:3.5rem;
  }

  .evento h2{
    font-size:3rem;
  }

=======
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:'Montserrat', sans-serif;
  background:#f8f3ef;
  color:#333;
}

/* HERO */

.hero{
  height:100vh;
  background:url('https://images.unsplash.com/photo-1511285560929-80b456fea0bc?q=80&w=1974&auto=format&fit=crop') center/cover;
  position:relative;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
}

.overlay{
  position:absolute;
  inset:0;
  background:rgba(0,0,0,.35);
}

.contenido{
  position:relative;
  z-index:2;
  color:white;
  padding:20px;
}

.subtitulo{
  letter-spacing:8px;
  margin-bottom:20px;
}

h1{
  font-family:'Cormorant Garamond', serif;
  font-size:6rem;
  font-weight:300;
}

h1 span{
  color:#d4af37;
}

.fecha{
  margin-top:20px;
  font-size:1.2rem;
  letter-spacing:4px;
}

#countdown{
  margin-top:30px;
  font-size:1.5rem;
}

.btn{
  display:inline-block;
  margin-top:40px;
  padding:15px 40px;
  border:1px solid white;
  color:white;
  text-decoration:none;
  transition:.3s;
}

.btn:hover{
  background:white;
  color:black;
}

/* EVENTO */

.evento{
  padding:120px 20px;
  text-align:center;
  background:white;
}

.evento h2{
  font-family:'Cormorant Garamond', serif;
  font-size:4rem;
  margin-bottom:30px;
}

.texto{
  max-width:700px;
  margin:auto;
  line-height:2;
}

.card{
  margin-top:60px;
}

.card h3{
  font-size:2rem;
  margin-bottom:20px;
}

.ubicacion{
  display:inline-block;
  margin-top:50px;
  padding:15px 35px;
  border:1px solid black;
  color:black;
  text-decoration:none;
}

/* GALERÍA */

.galeria{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:10px;
}

.galeria img{
  width:100%;
  height:400px;
  object-fit:cover;
}

/* MOBILE */

@media(max-width:768px){

  h1{
    font-size:3.5rem;
  }

  .evento h2{
    font-size:3rem;
  }

>>>>>>> 83b77a3dd4baa4901c7172eb5b457bd26b167091
}